.succes {
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(39, 134, 30, 0.829);
  border-radius: 10px;
  border-top: 10px solid rgb(40, 228, 33);
  opacity: 90%;
  gap: 10px;
}

.succes h3 {
  width: 90%;
  text-align: justify;

  font-weight: 500;
}
