.code-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(73, 73, 73, 0.1);
  border-radius: 8px;
  padding: 16px;
  font-family: "Fira Code", monospace;
  width: auto;
  padding-left: 30px;
  padding-right: 30px;

  max-width: 100%;
  overflow: hidden; /* Evita desbordamiento no deseado */
}

.code-movile {
  width: 800px;
}

/* Estilo del nombre del archivo */
.code-filename {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffffcc; /* Blanco con transparencia */
}

/* Botón de copiado */
.copy-button {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 12px;
  right: 12px;
  background: #e0e0e0;
  color: #282c34;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}

.copy-button:hover {
  opacity: 1;
  background: #d6d6d6;
}

/* Ajuste del código para evitar desbordamiento */
pre {
  white-space: pre-wrap; /* Permite saltos de línea en palabras largas */
  word-wrap: break-word; /* Rompe palabras si es necesario */
  overflow-x: auto; /* Si el código es muy largo, permite scroll horizontal */
  max-width: 100%;
  padding: 10px;
  border-radius: 6px;
}

/* Hacer el botón más visible en pantallas pequeñas */
@media (max-width: 600px) {
  .copy-button {
    top: 8px;
    right: 8px;
    padding: 4px 8px;
    font-size: 12px;
  }

  .code-container {
    width: 95%;
  }

  .code-filename {
    font-size: 12px;
  }
  .code-movile {
    font-size: 12px;
    width: 90%;
  }
}

/* Dispositivos medianos (tablets, 576px a 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .code-movile {
    width: 500px;
  }
}

/* Dispositivos grandes (tablets en horizontal y laptops pequeñas, 768px a 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .code-movile {
    width: 600px;
  }
}
