.code-container {
  position: relative;
  display: flex;
  align-items: start;
  flex-direction: column;
  background: #49494910;
  border-radius: 0px;
  overflow: hidden;
  padding: 20px;
  font-family: "Fira Code", monospace;
}

.code-filename {
  margin-bottom: 5px;
}

.copy-button {
  opacity: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #dddddd;
  color: #282c34;
  border: none;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.copy-button:hover {
  opacity: 100%;
  background: #f8f8f8;
}
