.card {
  background-color: rgba(22, 22, 22, 0);
  display: flex;
  align-items: center;
  width: 70%;
  height: 170px;
  border-radius: 30px;
  padding: 20px;
  border: 2px solid red;
  position: relative;
}

.row {
  background-color: red;
  height: 95%;
  border-radius: 20px;
  width: 200px;
}
