section {
  width: 900px;
  height: 100%;
  background-color: rgb(29, 29, 29);
  z-index: 2;
  position: absolute;
  border: 1px solid rgb(39, 39, 39);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
