:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-position: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  /* variables para la cuadricula */
  --s: 195px; /* Controla el tamaño */
  --c1: #1b1b1b96;
  --c2: #0f0f0fa4;

  /* fondo base negro separado */
  background: #131313;
}

/* Capa de cuadricula: fija, encima del fondo negro y debajo del contenido */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;

  /* reutiliza las variables definidas en html */
  --_g: #0000 90deg, var(--c1) 0;
  background: conic-gradient(from 90deg at 1px 1px, var(--_g)),
    conic-gradient(from 90deg at 1px 1px, var(--_g)), var(--c2);
  background-size: var(--s) var(--s), calc(var(--s) / 5) calc(var(--s) / 5);
  background-blend-mode: lighten;

  /* ajusta visibilidad si quieres más/menos contraste */
  opacity: 1;
}

/* Asegura que el contenido quede por encima de la cuadricula */
#root {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  max-width: 800px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
  animation: flow 0.5s forwards;
}

@keyframes flow {
  0% {
    left: 0%;
    transform: translateX(-50%);
  }
  100% {
    left: 50%;
    transform: translateX(-50%);
  }
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 575px) {
  .title-bg {
    flex-direction: column;
  }
}

/* Dispositivos medianos (tablets, 576px a 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .title-bg {
    flex-direction: column;
  }
}

/* Dispositivos grandes (tablets en horizontal y laptops pequeñas, 768px a 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .title-bg {
    flex-direction: column;
  }
}

/* background-color: #252525; #00b551 */
