:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-position: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  --s: 200px; /* Controla el tamaño */
  --c1: #1b1b1b96;
  --c2: #0f0f0fa4;

  --_g: #0000 90deg, var(--c1) 0;
  background: conic-gradient(from 90deg at 1px 1px, var(--_g)),
    conic-gradient(from 90deg at 1px 1px, var(--_g)), var(--c2);
  background-size: var(--s) var(--s), calc(var(--s) / 5) calc(var(--s) / 5);
  background-blend-mode: lighten; /* Hace que el color más claro resalte */
}

#root {
  height: 100%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  background-color: rgb(131, 76, 76);
  height: 100%;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

/* background-color: #252525; #00b551 */
